form{
	margin: 0 auto;
}
.logout{
	display: block;
	color: red;
	float: right;
}
.container{
	width: 100%;
}
.form-control{
	width: 100%;
}
.btn{
	width: 100%;
	height: 30px;
	font-weight: bold;
	border-radius: 15px;
}
.listTable{
	width: 100%;
        color: blue;
}
.listTable1{
	width: 100%;
        color: blue;
}
.listTable th {
	background-color: #3d94f6;
	color: #FFF;
	padding: 10px 20px;
}
.listTable1 th {
    background-color: #3d94f6;
	color: #FFF;
}
.listTable td{
	text-align: center;
}
.listTable td {
	padding: 10px 20px;
	border-bottom: 1px solid #3d94f6;
}

.listTable1 td{
	text-align: center;
}
.listTable1 td {
	padding: 10px 20px;
	border-bottom: 1px solid #3d94f6;
}
.content {
	height: 600px;
	width: 100%;
	font-size: 18px;
	padding-top: 50px;
}
.divContentForm {
	margin: 0 auto;
}
.divContentForm .addEditTable {
	flot: left;
	width: 700px;
	margin: 0 auto;
}
.divContentForm .addEditTable td.lbl {
	text-align: right;
	width: 250px;
	margin: 0 25px;
	padding: 5px 0;
}
.divContentForm .addEditTable .form-control {
	width: 350px;
	margin: 0 50px;
}
.divContentForm .addEditTable #btnAdd,
.divContentForm .addEditTable #btnEdit {
	margin-left: 150px;
}
.divContentForm  h1 {
	text-align: center;
	font-size: 50px;
}
.btnSubmit {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
	width: 200px;
	height: 30px;
}
.btnSubmit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
.btnSubmit:active {
	position:relative;
	top:1px;
}

.add{
	height: 600px;
	width: 50%;
	font-size: 18px;
	padding-top: 50px;
	text-align: center;
}
.none{
	display: none;
}
.schfont{
   text-align: center;
   font-size: 50px;
    
}
.colorfont{
    font-color:blue
}